<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./pages/frontpage/frontpage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%DOCUMENT_TITLE%%</title>
</head>
<body>
<div class="topnav">
    <nav>
        <a href="/">Home</i></a>
        <a href="/introduction">Introduction</a>
        <a href="/packageJson">Package.json</a>
        <a href="/nodemon">Nodemon</a>
        <a href="/ssr">SSR</a>
        <a href="/express">Express</a>
        <a href="/callback">Callback functions</a>
      
    </nav>
</div>


